In [1]:
import geopandas as gp

In [2]:
import netCDF4 as nc

fn_t = '../raw_data/temperature_monthly-mean_bcc-csm1-1-m_rcp45_r1i1p1_1950-2100_v1.0.nc'
ds_t = nc.Dataset(fn_t)
print(ds_t)

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF4 data model, file format HDF5):
    history: Tue Jun 22 17:22:44 2021: ncks -C -O -x -v height /data/public/global_data/cmip5/bcc-csm1-1-m/monthly/temperature_monthly-mean_bcc-csm1-1-m_rcp45_r1i1p1_1950-2100_v1.0.nc /data/public/global_data/cmip5/bcc-csm1-1-m/monthly/temperature_monthly-mean_bcc-csm1-1-m_rcp45_r1i1p1_1950-2100_v1.0_temp.nc
Fri Dec 18 07:15:48 2020: ncpdq -a time,latitude,longitude /tmp/tmp5d44cu72.nc_temp /tmp/tmp5d44cu72.nc
    Conventions: CF-1.7
    Institution: (C) VITO, Belgium
    References: See documentation for full references at https://climate.copernicus.eu/
    Contact: Please contact Copernicus User Support on the Copernicus Climate Change Service website (https://climate.copernicus.eu/)
    Version: v1
    Title: C3S D427 SIS Biodiversity / Bio-climate indicators / temperature_monthly-mean / CMIP5 / rcp45 bcc-csm1-1-m r1i1p1 / bias-adjusted with ERA5 / 20-year month_000.5degree_global
    Source: CMIP5 dataset (rcp45 bcc-csm1-1-m r1i1p1) bias-adjusted to ERA5 by VITO
    Licence: ECMWF Copernicus licence 1.0
    NCO: netCDF Operators version 4.7.5 (Homepage = http://nco.sf.net, Code = http://github.com/nco/nco)
    dimensions(sizes): latitude(348), longitude(720), time(1812)
    variables(dimensions): float64 latitude(latitude), float64 longitude(longitude), float32 temperature_monthly-mean(time, latitude, longitude), int64 time(time)
    groups:

In [3]:
import xarray as xr

data_t= xr.open_dataset('../raw_data/temperature_monthly-mean_bcc-csm1-1-m_rcp45_r1i1p1_1950-2100_v1.0.nc')

In [4]:
data_t

<xarray.Dataset> Size: 2GB
Dimensions:                   (latitude: 348, longitude: 720, time: 1812)
Coordinates:
  * latitude                  (latitude) float64 3kB -89.75 -89.25 ... 83.75
  * longitude                 (longitude) float64 6kB -179.8 -179.2 ... 179.8
  * time                      (time) datetime64[ns] 14kB 1950-01-01 ... 2100-...
Data variables:
    temperature_monthly-mean  (time, latitude, longitude) float32 2GB ...
Attributes:
    history:      Tue Jun 22 17:22:44 2021: ncks -C -O -x -v height /data/pub...
    Conventions:  CF-1.7
    Institution:  (C) VITO, Belgium
    References:   See documentation for full references at https://climate.co...
    Contact:      Please contact Copernicus User Support on the Copernicus Cl...
    Version:      v1
    Title:        C3S D427 SIS Biodiversity / Bio-climate indicators / temper...
    Source:       CMIP5 dataset (rcp45 bcc-csm1-1-m r1i1p1) bias-adjusted to ...
    Licence:      ECMWF Copernicus licence 1.0
    NCO:          netCDF Operators version 4.7.5 (Homepage = http://nco.sf.ne...

In [5]:
df_t=data_t['temperature_monthly-mean'].to_dataframe()
df_t

                               temperature_monthly-mean
time       latitude longitude
1950-01-01 -89.75   -179.75                         NaN
                    -179.25                         NaN
                    -178.75                         NaN
                    -178.25                         NaN
                    -177.75                         NaN
...                                                 ...
2100-12-01  83.75    177.75                  252.506790
                     178.25                  252.521271
                     178.75                  252.537201
                     179.25                  252.546890
                     179.75                  252.550018

[454014720 rows x 1 columns]

In [15]:
df_t_reset = df_t.reset_index()

In [16]:
import pandas as pd

df_t_reset['time'] = pd.to_datetime(df_t_reset['time'])

# Truncate the DataFrame to start from the year 2015
df_t_reset_truncated = df_t_reset[df_t_reset['time'].dt.year >= 2015]

# Reset the index if needed
df_t_reset_truncated.reset_index(inplace=True)

In [17]:
df_t_reset_truncated

               index       time  latitude  longitude  temperature_monthly-mean
0          195436800 2015-01-01    -89.75    -179.75                       NaN
1          195436801 2015-01-01    -89.75    -179.25                       NaN
2          195436802 2015-01-01    -89.75    -178.75                       NaN
3          195436803 2015-01-01    -89.75    -178.25                       NaN
4          195436804 2015-01-01    -89.75    -177.75                       NaN
...              ...        ...       ...        ...                       ...
258577915  454014715 2100-12-01     83.75     177.75                252.506790
258577916  454014716 2100-12-01     83.75     178.25                252.521271
258577917  454014717 2100-12-01     83.75     178.75                252.537201
258577918  454014718 2100-12-01     83.75     179.25                252.546890
258577919  454014719 2100-12-01     83.75     179.75                252.550018

[258577920 rows x 5 columns]

In [18]:
# min/max coordinate values for sample = 1000
# min_lon= -31.169029141664772
# max_lon = 32.611141887507934
# min_lat = 27.746311186883922
# max_lat = 69.04164438989706

In [19]:
# min/max coordinate values for sample = 10
min_lon= 4.875490655664919
max_lon = 27.392258798599347
min_lat = 35.4470142202193
max_lat = 62.138627784581054

In [20]:
df_t_reset_truncated_filtered = df_t_reset_truncated[(df_t_reset_truncated["longitude"] >= min_lon) \
    & (df_t_reset_truncated["longitude"] <= max_lon) \
    & (df_t_reset_truncated["latitude"] >= min_lat) \
    & (df_t_reset_truncated["latitude"] <= max_lat)]
df_t_reset_truncated_filtered

               index       time  latitude  longitude  temperature_monthly-mean
181090     195617890 2015-01-01     35.75       5.25                277.458282
181091     195617891 2015-01-01     35.75       5.75                277.042389
181092     195617892 2015-01-01     35.75       6.25                278.004059
181093     195617893 2015-01-01     35.75       6.75                279.050232
181094     195617894 2015-01-01     35.75       7.25                278.691254
...              ...        ...       ...        ...                       ...
258545930  453982730 2100-12-01     61.75      25.25                271.832397
258545931  453982731 2100-12-01     61.75      25.75                271.769714
258545932  453982732 2100-12-01     61.75      26.25                271.568665
258545933  453982733 2100-12-01     61.75      26.75                271.584320
258545934  453982734 2100-12-01     61.75      27.25                271.642365

[2461320 rows x 5 columns]

In [21]:
df_t_reset_truncated_filtered.set_index('index', inplace=True)
#df_t_reset_truncated_filtered.drop(columns=df_t_reset_truncated_filtered.columns[0], inplace=True)
df_t_reset_truncated_filtered

                time  latitude  longitude  temperature_monthly-mean
index
195617890 2015-01-01     35.75       5.25                277.458282
195617891 2015-01-01     35.75       5.75                277.042389
195617892 2015-01-01     35.75       6.25                278.004059
195617893 2015-01-01     35.75       6.75                279.050232
195617894 2015-01-01     35.75       7.25                278.691254
...              ...       ...        ...                       ...
453982730 2100-12-01     61.75      25.25                271.832397
453982731 2100-12-01     61.75      25.75                271.769714
453982732 2100-12-01     61.75      26.25                271.568665
453982733 2100-12-01     61.75      26.75                271.584320
453982734 2100-12-01     61.75      27.25                271.642365

[2461320 rows x 4 columns]

In [22]:
pwd

'/Users/florentinekleist/code/Predicting_land_cover/notebooks'

In [23]:
df_t_reset_truncated_filtered.to_csv('../raw_data/temperature_monthly_mean.csv')

: